# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/mccreativelab-server/build.gradle.kts
/mccreativelab-server/src/minecraft
/paper-server
/mccreativelab-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/
